<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <form
      class="flex flex-col gap-4"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <input type="text" pInputText />

      <input type="text" pInputText />

      <p-button type="submit" fluid [disabled]="loginForm.invalid">
        Login
      </p-button>
    </form>
  </div>
</div>
