<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

    <form
      class="flex flex-col gap-6"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <p-floatlabel class="mb-2">
        <input fluid type="text" pInputText formControlName="email" />
        <label for="email">Email</label>
        @if (loginForm.get("email")?.hasError("email")) {
          <p-message severity="error" size="small" variant="simple">
            Enter a valid email</p-message
          >
        }
      </p-floatlabel>

      <p-floatlabel class="mb-2">
        <p-password
          fluid
          formControlName="password"
          [feedback]="false"
          toggleMask="true"
        >
        </p-password>
        <label for="password">Password</label>
      </p-floatlabel>

      <p-button type="submit" fluid [disabled]="loginForm.invalid">
        Login
      </p-button>
    </form>
  </div>
</div>
