<div class="flex flex-col min-h-screen bg-gray-100 p-4 gap-2">
  <p-menubar class="mb-2" [model]="items"></p-menubar>

  <p-table
    [value]="(users$ | async) ?? []"
    [(selection)]="selectedUser"
    class="w-full shadow-md rounded-lg overflow-hidden"
  >
    <ng-template pTemplate="header">
      <tr class="bg-gray-100">
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th>Avatar</th>
        <th pSortableColumn="firstName">
          First Name <p-sortIcon field="firstName" />
        </th>
        <th pSortableColumn="lastName">
          Last Name <p-sortIcon field="lastName" />
        </th>
        <th pSortableColumn="nickname">
          Nickname <p-sortIcon field="nickname" />
        </th>
        <th>City</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        @if (isAdmin) {
          <th>Actions</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user" />
        </td>
        <td>
          @if (user.avatar) {
            <p-avatar
              [image]="user.avatar"
              class="mr-2"
              size="large"
              shape="circle"
            />
          } @else {
            <p-avatar label="P" shape="circle" class="mr-2" size="large" />
          }
        </td>
        <td>{{ user.firstName }}</td>

        <td>{{ user.lastName }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        @if (isAdmin) {
          <td>
            <p-button-group>
              <p-button (click)="onEdit(user)" icon="pi pi-pencil"></p-button>

              <p-button
                (click)="delete($event, user.id)"
                icon="pi pi-trash"
                severity="danger"
                [outlined]="true"
              ></p-button>
            </p-button-group>
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
  <p-drawer [(visible)]="visible" header="Filter"><lx-filter /> </p-drawer>
</div>
<p-confirmdialog />
<p-toast />
